[Desktop Entry]
Comment=Just Another Red Theme
Name=Just Another Red Theme
X-KDE-PluginInfo-Author=Kaustubh Ladiya
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=k4ustu3h@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=com.github.k4ustu3h.JART
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=https://github.com/k4ustu3h/jart-kde
X-KDE-ServiceTypes=Plasma/LookAndFeel

X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1315464,kns://aurorae.knsrc/api.kde-look.org/1315475,kns://icons.knsrc/api.kde-look.org/1012430
